<ion-view>
    <ion-nav-title>
        <div class="logofont">Good Deed</div>
    </ion-nav-title>
    <ion-content>
        <div class="list card">

            <ion-item class="item item-divider">
                <h2>{{ event.title }}</h2>
                <p style="color: white">{{ event.date | date }}</p>

                <div>
                    <p><span class="title">Currently Signed Up:</span> <span style="color: white">{{ event.currentTotal}}</span></p>
                    <p><span class="title">Need:</span> <span style="color: white">{{ event.maxTotal}}</span></p>
                </div>
            </ion-item>

            <div class="item item-body">
                <div class="image" style="margin-bottom: 30px; background-color: #424242; border: 1px dashed lightgray;">
                    <img class="event_image" src="{{ event.image }}">
                </div>

                <h3>Description:</h3>
                <p>{{ event.description }}</p>
                <hr/>

                <h3>We are in need of:</h3>
                <br/>
                <div class="list">
                    <div class="item item-button-right" ng-repeat="role in event.roles">
                        <div>
                            <p style="margin: 0"><span class="title">Title:</span> {{ role.name }}</p>
                            <p style="margin: 0; margin-top: 10px;"><span class="title">Currently Signed Up:</span> {{ role.attendence.current.length ? role.attendence.current.length : 0 }}</p>
                            <p style="margin: 0"><span class="title">Need:</span> {{ role.attendence.max }}</p>
                        </div>
                        <button class="button button-positive" style="margin-top: 23px;">Sign me up!</button>
                    </div>

                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share via
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
