<ion-view>
<ion-nav-title><div class="logofont">Good Deed</div></ion-nav-title>
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <h2>{{ event.title }}</h2>
    <p>{{ event.date | date }}</p>
    <div>
      <span>Current: {{ event.currentTotal}}</span>
      <span>Total: {{ event.maxTotal}}</span>
    </div>
  </div>

  <div class="item item-body">
    <img class="event_image" src="{{ event.image }}">
    <p>{{ event.description }}</p>

    <h3>Roles</h3>
    <div class="list">

      <div class="item item-button-right" ng-repeat="role in event.roles">
        <div>
          <span>{{ role.name }}</span>
          <span>Current: {{ role.attendence.current.length ? role.attendence.current.length : 0 }}</span>
          <span>Max: {{ role.attendence.max }}</span>
        </div>
        <button class="button button-positive">Join</button>
      </div>

    </div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share via
  </div>

</div>
  </ion-content>
</ion-view>
