<ion-view view-title="Friends List" id="friends_list">
<ion-nav-title><div class="logofont">Good Deed</div></ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class= "item item-divider">
          <h2>Friends & Families</h2>
      </ion-item>
      <ion-item>
        <a class="item item-avatar" ng-repeat="friend in friendslist" href="#/app/friendslist/{{friend.id}}">
          <img src=" {{ friend.image }} ">
          <h2 style="margin-top: 10px; color: #424242;">{{ friend.title }}</h2>
          <i class="fa fa-chevron-right"></i>
        </a>
      </ion-item>
    <ion-item class= "item item-divider">
      <h2>Community Users</h2>
    </ion-item>
  </ion-content>
</ion-view>
