<ion-view>
<ion-nav-title>Good Deed</ion-nav-title>
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Event Name</h2>
    <p>Event Date</p>
    <p>Event Timeframe</p>
  </div>

  <div class="item item-body">
    <img class="event_image" src="img/event_photo_example.jpg">
    <p>
      Hi, my name is Doris and I need someone to help me make my lawn drought resistant! This is a one day project and I need 3 string indivisuals to help spread mulch and plant succulents. 
    </p>
    <button class="button button-full button-outline button-balanced">
      Role and Timeframe for Role- # / #
    </button>
    <button class="button button-full button-outline button-assertive">
      Role and Timeframe for Role- # / #
    </button>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share via
  </div>

</div>
  </ion-content>
</ion-view>
