<ion-view view-title="Profile">
<ion-nav-title>Good Deed</ion-nav-title>
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Username</h2>
    <p>User Zipcode</p>
  </div>

  <div class="item item-body">
    <p>
      User Bio. 
    </p>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Add As Friend
    </a>
  </div>

</div>
<div class="list card">

  <div class="item item-avatar">
    <h2>Badges</h2>
  </div>

  <div class="item item-body">
    
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Add As Friend
    </a>
  </div>

</div>
  </ion-content>
</ion-view>
