<ion-view view-title="Profile" id="profile">
<ion-nav-title>Good Deed</ion-nav-title>
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <div class="image">
      <img src="{{ user.image }}">
    </div>
    <div>
      Name: {{ user.first }} {{ user.last }}<br/>
      Last Volunteer Event: <!-- {{  }} -->
    </div>
  </div>

  <div class="item item-body">
    <h3>Bio</h3>
    <p>{{ user.bio }}</p>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Add As Friend
    </a>
  </div>

</div>
<div class="list card">

  <div class="item item-avatar">
    <h2>Badges</h2>
  </div>

  <div class="item item-body">
    
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Add As Friend
    </a>
  </div>

</div>
  </ion-content>
</ion-view>
