<ion-view view-title="Settigns">
<ion-nav-title><div class="logofont">Good Deed</div></ion-nav-title>
  <ion-content>
  <ion-item class= "item item-divider"> 
    	<h2>Settings</h2>
    </ion-item>
  <button class="button button-full button-outline button-positive">
  Edit Name
</button>
<button class="button button-full button-outline button-positive">
  Edit Profile Pic
</button>
<button class="button button-full button-outline button-positive">
  Edit Zipcode
</button>
  </ion-content>
</ion-view>









