@import url(/lib/font-awesome-4.3.0/css/font-awesome.min.css);

.logo {
	text-align: center;
	margin-top: 20%;
}

/* Gobal */
body {
	font-family: "Quicksand";
	color: #9CD7FF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand";
	font-weight: bold;
}

.item h2 {
	font-weight: bold;
	color: #9CD7FF;
	text-transform: uppercase;
}
.item h3 {
	padding: 0;
	margin: 0;
	font-family: "Arvo";
}
.padding {
	padding: 10px 30px;
}

.item-complex .item-content, .item-body {
	padding: 16px;
	font-family: "Arvo";
	background-color: #F5F5F5;
}

p .title {
	background-color: #A8CAF0;
	padding: 3px 6px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 0.7em;
	vertical-align: top;
	margin-right: 5px;
	color: black;
}

.item-divider {
	background-color: #434343;
	color: #A8CAF0;
	border: 0;
	box-shadow: 1px 1px 5px #ccc;
	z-index: 3;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}
.popup-head {
	background-color: #424242;
}
.popup-head .popup-title {
	color: white;
}

.popup-body {
	text-align: center;
}

/* Empty. Add your own CSS if you like */
.event_image {
	max-width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto
}
.profile_image {
	max-width: 25%;
	position: absolute;
    right: 3px;
}
.open_event {

}
.closed_event {

}
.logofont {
	font-family: Quicksand;
	font-size: 1.5em;
}
.splashfont {
	font-family: Quicksand;
	margin-top: 10%;
	text-align: center;
	color: #0047AB;
	font-size: 400%;
}
.splashbuttons {
	margin-top: 25%;
}
ion-view[special-class=splashpage] {
	background-image: url(img/white-linen-texture);
}


/* Profile Page */
#profile .item-avator {
	padding-left: 0;
}
#profile .item-avatar .image {
	display: inline-block;
	width: 80px;
}

#profile .item-avatar .image img {
	margin: 0 auto;
	max-height: 100px;
}

#profile .item-avatar .info {
	display: inline-block;
	width: calc(100% - 80px);
}

#profile p {
	text-align: justify;
}


/* Event List */

#event_list .information p:first-of-type {
	font-size: 1.1em;
	text-decoration: underline;
}

#event_list .information p:nth-child(2) {
	margin-top: 15px;
}

#event_list .information p .title + .title {
	margin-left: 20px;
}

#event_list .information {
	display: inline-block;
	width: 80%;
}

#event_list .right {
	display: inline-block;
	width: 10%;
	float: right;
	margin-top: 33px;
	text-align: right;
}

/* Friend's List */
#friends_list .item-avatar .fa-chevron-right {
	text-align: right;
	display: block;
	position: absolute;
	top: 26px;
	right: 20px;
}

/* Setting */
#setting .change_photo {
	display: inline-block;
	width: 150px;
	height: 150px;
	position: relative;
	background-color: #424242;
	text-align: center;
	cursor: pointer;
}

#setting .change_photo img {
	height: 100%;
}

#setting .change_photo p {
	display: inline-block;
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	left: 0;
	bottom: 0;
	padding: 5px;
}

#setting .edit {
	border: 1px dashed #000;
	padding: 5px;
	display: block;
}

#setting .show {
	display: inline-block;
	float: right;
}

#setting .info {
	display: inline-block;
	width: calc(100% - 160px);
}